*{
padding: 0;
margin: 0;
}

#game{
width: 1536px;
height: 864px;
background-image: url(../images/hintergrund3-modified.jpg);
}

#character { 
width: 250px;
height: 279px;
left: 70px;
position: relative;
top: 500px;
background-image: url(../images/dinobild-modified-modified.png);
}

.animate{
animation: jump 2s;
}

.overlay.sichtbar {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1.5;
}

@keyframes jump{
0%{top: 500px;}
20%{top: 250px;}
30%{top: 250px;}
40%{top: 250px;}
50%{top: 300px;}
60%{top: 350px;}
80%{top: 400px;}
90%{top: 450px;}
100%{top: 500px;}
}

#block{
width: 100px;
height: 152px;
background-image: url(../images/kaktus2-modified-modified.png);
position: relative;
top: 345px;
left: 370px;
animation: block 3s infinite linear;
}

@keyframes block{
0%{left: 1450px;}
100%{left: 0px;}
}

.overlay-text {
    font-size: clamp(2rem, 10vh, 4rem);
    font-weight: 900;
    text-align: center;
}

.overlay {
    background: linear-gradient(to bottom, gold, rgb(133, 129, 20));
    position: fixed;
    inset: 0;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(1rem, 2vh, 4rem);
    opacity: 0;
    pointer-events: none;
}
