*{
padding: 0;
margin: 0;
}

#game{
width: 100%;
height: 864px;
background-image: url(../images/hintergrund3-modified.jpg);
}

#character { 
width: 235px;
height: 263px;
left: 70px;
position: relative;
top: 560px;
background-image: url(../images/dinobild-modified-modified.png);
}

.animate{
animation: jump 2s;
}

.overlay.sichtbar {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1.5;
}

@keyframes jump{
0%{top: 500px;}
20%{top: 250px;}
30%{top: 250px;}
40%{top: 250px;}
50%{top: 300px;}
60%{top: 350px;}
80%{top: 400px;}
90%{top: 450px;}
100%{top: 500px;}
}

#block{
width: 94px;
height: 147px;
background-image: url(../images/kaktus2-modified-modified.png);
position: relative;
top: 413px;
left: 370px;
animation: block 3s infinite linear;
}

@keyframes block{
0%{left: 1450px;}
100%{left: 0px;}
}

#dino-alert {
    position: absolute;
color: #aa0909;
    width: 100%;
    height: 5%;
text-align: center;
padding-top:2%;
vertical-align:middle;

}